.user_comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
  max-height: 590px;
  margin-top: 15px;
  background-color: $white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px $shad-size 0px $gray-light-transp;
  box-shadow: 0px 0px $shad-size 0px $gray-light-transp;
}

.user_comments__hiding {
  margin-top: $xxl-size;
  margin-bottom: 30px;
  color: $orange;
  font-size: $m-size;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.user_comments__scroll {
  overflow-y: scroll;
  margin-right: 6px;
  padding-right: 15px;
}

.user_comments__scroll--display {
  height: 0;
}

.user_comments__scroll::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: rgba(216, 216, 216, 0.3);
}

.user_comments__scroll::-webkit-scrollbar {
  width: 5px;
}

.user_comments__scroll::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: $blue-light;
}

.user_comments__form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 15px $xxl-size $m-size $xxl-size;
  text-align: center;
}

.user_comments__textbox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 2px solid $solitude;
  color: $blue;
  font-size: $l-size;
  line-height: 22px;
}

.user_comments__textbox::-webkit-input-placeholder {
  color: $blue-bright;
}

.user_comments__textbox:-ms-input-placeholder {
  color: $blue-bright;
}

.user_comments__textbox::placeholder {
  color: $blue-bright;
}

@media screen and (min-width: $desktop-breakpoint) {
  .user_comments__hiding {
    margin-right: auto;
    margin-left: $m-size;
  }
  .user_comments__form {
    padding: 42px $xxl-size 32px $xxl-size;
  }
}