.user_comments__container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid $bright;
  padding-top: 32px;
  padding-left: $m-size;
  width: 100%;
}

.user_comments__photo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  -webkit-transform: translateY(-$s-size);
  transform: translateY(-$s-size);
}

.user_comments__content {
  padding-left: 11px;
  width: 100%;
}

.user_comments__name {
  margin: 0;
  color: $blue;
  font-size: $m-size;
  line-height: $l-size;
}

.user_comments__commentary {
  margin: 0;
  padding-bottom: $m-size;
  color: $gray;
  font-size: $m-size;
  line-height: 21px;
}

.user_comments__date {
  margin: 0;
  color: $blue-bright;
  font-size: $m-size;
  -webkit-transform: translateX(-6px);
  transform: translateX(-6px);
}