.user_profile {
  position: relative;
  max-width: 500px;
  padding-top: 48px;
  padding-left: $m-size;
  padding-right: $m-size;
  font-family: 'Montserrat', sans-serif;
}

.user_profile__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 95px;
  width: 100%;
  background: $blue;
  border-radius: 5px 5px 0 0;
}

.user_profile__background {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 59px);
  width: 100%;
  background: $white;
  -webkit-box-shadow: 0 0 $shad-size 0 $gray-light-transp;
  box-shadow: 0 0 $shad-size 0 $gray-light-transp;
  border-radius: 5px;
}

@media screen and (min-width: $desktop-breakpoint) {
  .user_profile__background {
    height: calc(100% - 98px);
  }
}