.user_profile {
  position: relative;
  max-width: 500px;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

.user_profile__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 95px;
  width: 100%;
  background: #002C71;
  border-radius: 5px 5px 0 0;
}

.user_profile__background {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 59px);
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.50);
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.50);
  border-radius: 5px;
}

@media screen and (min-width: 450px) {
  .user_profile__background {
    height: calc(100% - 98px);
  }
}