{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "node": true
  },

  "parser": "babel-eslint",

  "rules": {
    "linebreak-style": [
      "error", "windows"
    ],
    "jsx-a11y/anchor-is-valid": ["error", {
      "specialLink": [ "to" ]
    }],
    "jsx-a11y/no-autofocus": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [
      "warn", { "extensions": [".js", ".jsx"] }
    ]
  }
}