{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },

  "plugins": ["jest"],

  "parser": "babel-eslint",

  "rules": {
    "linebreak-style": [
      "error", "windows"
    ],
    "jsx-a11y/anchor-is-valid": ["error", {
      "specialLink": [ "to" ]
    }],

    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",

    "jsx-a11y/no-autofocus": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [
      "warn", { "extensions": [".js", ".jsx"] }
    ]
  }
}