html {
  font-size: 90%;
}

*,
*:before,
*:after {
  font: inherit;
}

.user_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(221, 216, 216);
}

.user_header__info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user_header__followers {
  display: flex;
}

