.user_profile {
  box-sizing: border-box;
  max-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

/* Buttons */
.user_info__like, .user_info__share, .user_followers__button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.user_header {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  height: 235px;
  margin-top: 48px;
  padding: 0 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(172,172,172,0.5);
}

.user_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 38px;
  margin-bottom: 35px;
}

.user_info__photo {
  position: absolute;
  top: -48px;
  border-radius: 50%;
  }

.user_info__name {
  position: relative;
  margin: 0;
  color: #002C71;
  font-size: 1.8em;
  line-height: 22px;
}

.user_info__like {
  position: absolute;
  right: -25px;
  color: #D3D3D3;
  font-size: 12px;
  line-height: 22px;
}

.user_info__location {
  margin: 0;
  color: #8298B9;
  font-size: 1.2em;
  line-height: 15px;
}

.user_info__share {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #FFA640;
}

.user_followers {
  width: 100%;
}

.user_followers__stats {
  display: flex;
  justify-content: space-between;
}

.user_followers__box {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #8298B9;
  font-size: 1em;
}

.user_followers__box:nth-of-type(2) {
  flex: 2;
  border-left: 1px solid rgba(151, 151, 151, .1);
  border-right: 1px solid rgba(151, 151, 151, .1);
  margin: 0 8%;
}

.user_followers__values {
  margin: 0;
  color: #FFA640;
  font-size: 2.4em;
}

.user_followers__names {
  margin: 0;
}

.user_followers__button {
  height: 46px;
  width: 100%;
  margin-top: 21px;
  background-color: #FFA640;
  border-radius: 100px;
  color: #FFFFFF;
  font-size: 1.4em;
  letter-spacing: 0.42em;
}