// Colors
$blue: #002c71;
$blue-bright: #8298b9;
$blue-light: rgba(0, 44, 113, 0.12);
$bright: #ebebeb;
$gray: #444444;
$gray-light: #d3d3d3;
$gray-light-transp: rgba(172, 172, 172, 0.5);
$orange: #ffa640;
$solitude: #dbe0e8;
$white: #ffffff;

//Sizes
$s-size: 12px;
$m-size: 14px;
$l-size: 18px;
$xl-size: 20px;
$xxl-size: 25px;

// Shadows
$shad-size: 4px;

// Breakpoints
$desktop-breakpoint: 530px;